@import url(https://fonts.googleapis.com/css?family=Passion+One);

html, body {
    background: #000000;
    font-family: 'Passion One', cursive;
}

marquee {
    font-size: 100vh;
    color: #ffffff;
}
