@import url(https://fonts.googleapis.com/css?family=Passion+One);

body {
    background: #000000;
    font-family: 'Passion One', cursive;
}

marquee {
    font-size: 95vh;
    color: #ffffff;
    min-height: 280px;
}
